.content {
	margin-top: 80px;
}

.large-text-p {
	font-size: 20px;
	text-align: justify;
}

.large-title {
	font-size: 20px;
	text-align: left;
}

#title {
	font-weight: bolder;
	color: white;
}

#dp {
	height: 50px;
	width: 50px;
}

.set-min-width-220 {
	min-width: 220px;
}

.set-full-width {
	width: 100%;
}

.auto-align{
	margin: auto;
}

#spotfixText{
	display: none;
}

.create{
	display: none;
}

#s1{
	display: none;
}

#spot-list{
	display: none;
}